
<div class="jumbotron">
  <h1 class="display-3">Dia De Doar</h1>
  <p class="lead">Comprou algo novo e está pensando em jogar fora o antigo? Doe! Aqui você pode doar o que você não quer mais na sua vida e deixar feliz outras pessoas que precisam.</p>
  <hr class="my-4">
  <p>O que você deseja fazer?</p>
  <p class="lead">
    <a href="/users/sign_up">Cadastrar</a>
<button type="button" class="btn btn-entrar">Entrar</button>


<button type="button" class="btn btn-teste">Teste</button>

  </p>]
</div>]
