<br>
<br>
<br>
<br>

<h1>Como nosso site funciona</h1>

<p>Clique em Cadastrar se não for cadastrado </p>
<p>Clique em entrar se já tiver cadastro </p>
<p>Após isso, clique em um dos produtos postados, fale com a pessoa para combinar a doação </p>
<p>bla bla bal bla </p>
<p>bla bla bal bla </p>
<p>bla bla bal bla </p>


<li><a href="/">Voltar</a></li>
